<h3>Sign Up</h3>

<form action=<%= users_url %> method="Post">
  <input type="hidden" name="authenticity_token" value=<%= form_authenticity_token%>>
  <label for="">
    username <input type="text" name="user[username]">
  </label>
  <label for="">
    password <input type="password" name="user[password]">
  </label>

  <input type="submit" value="Create User">
</form>