<h3> New Sub </h3>


<form action=<%= subs_url %> method="POST">
  <input type="hidden" name="authenticity_token" value=<%= form_authenticity_token %>>
   
   <label for="">
    title <input type="text" name="sub[title]">
   </label>


   <label for="">
    description <input type="textarea" name="sub[description]">
   </label>

   <input type="submit" value="Create Sub">
</form>